.divPlayground {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divPlayground #container {
  width: 300px;
  height: 300px;
  display: flex;
  /* justify-content: space-evenly; */
  /* justify-content: space-between; */
  /* align-items: flex-start; */
  position: relative;
  flex-direction: column;
}
